.piece-box-icon:hover,
.piece-box-icon.move-active {
  background-color: rgba(240, 248, 255, 0.253);
}

.piece-box-icon {
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 300ms ease-in-out;
}

.chess-board-box {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chess-board-box.move-selection::after {
  content: "";
  position: absolute;
  cursor: pointer;
  outline: 1.2px solid #00ffaa;
  inset: 0;
  margin: 4px;
}

.chess-board-box.colored {
  background-color: rgba(255, 112, 56, 0.525);
}

.chess-board-box:not(.colored) {
  background-color: rgba(252, 239, 234, 0.525);
}
