#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 5em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

h1.header {
  margin-top: 0;
  font-size: 1.5em;
  line-height: 1.1;
}

.chess-board {
  width: 40vw;
  height: 70vh;
  min-width: 480px;
  min-height: 500px;
  border: 0.5px dashed white;
}

.chess-board-column {
  width: 100%;
  display: flex;
}

.board-type-setting-select {
  text-align: center;
}

.board-type-setting-select p {
  margin: 0;
  margin-bottom: 0.5rem;
}

.button-setting {
  margin-top: 2rem;
}
